<app-navbar></app-navbar>
<h1 class="display-3 margen-arriba animated fadeIn fast">Contactanos</h1>
<hr>
    <div class="row margen-left">
      <div class="col-sm-6">
        <div class="card border-secundary mb-3">
           <div class="card-header"><p class="h2" style="color:gray;"> Ubicación </p></div>
          <div class="card-body text-primary">
            <img class="card-img-top" style="height:410px;" src="../assets/img/mapa.jpg" alt="Card image cap">
          </div>

        </div>
        <hr>
      </div>
      <div class="col-sm-6">
        <div class="card border-secundary mb-3">
           <div class="card-header"><p class="h2" style="color:gray;"> Mensaje </p></div>
          <div class="card-body text-info">

            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Teléfono</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Asunto</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Mensaje</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </form>
          </div>

        </div>
        <hr>

      </div>
    </div>


<div class="jumbotron animated fadeIn ">

  <div class="row">
    <div class="col-sm-12">
      <div class="card-columns">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Dirección</h4>
            <p class="card-text">3ra. Avenida 10-21, Zona 6 de Mixco Colonia San Francisco 2
             <br>01008 Ciudad de Guatemala</p>
          </div>
        </div>
        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>Proyección Socia</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Salud y amor forman parte de las bases que conforman a centro de diagnostico Santa Bertilda y por ello deseamos expresar lo a través de diferentes actividades para la mejora de la salud guatemalteca desde un enfoque innovador.
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Contactos</h4>
            <p class="card-text">
              PBX: 2204-1212 <br>
              Cell: 5307-5263
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Redes Sociales</h4>
            <p class="card-text">
              <img class="text-xs-center" src="../assets/img/facebook.png" alt="First slide" height="30">
              <img class="text-xs-center" src="../assets/img/gorjeo.png" alt="First slide" height="30">
              <img class="text-xs-center" src="../assets/img/google-plus.png" alt="First slide" height="30">
            </p>

          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Correo</h4>
            <p class="card-text">consultas.santabertilda@gmail.com</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Horarios</h4>

              <ul class="list-group">
                <li class="list-group-item">San Francisco y Bolívar: lunes a viernes de 6:30am. a 5:00pm. sábado 6:30am. a 1:00pm. </li>
                <li class="list-group-item">San Juan y San Ignacio: lunes a viernes de 7:00am. a 4:00pm. y sábado de 7:00am. a 12:00pm.</li>
              </ul>


          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
