<app-navbar-log></app-navbar-log>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Nosotros</h1>
    <p class="lead">Administracion de historia, filosofia, mision y vision de la empresa</p>
    <hr>
  </div>
</div>

<div class="container">
  <div class="form-group">
    <label for="comment">Historia:</label>
    <textarea class="form-control" rows="5" id="comment">Somos el Centro de diagnóstico clínico en Guatemala que durante más de 38 años ha manejado con responsabilidad, confianza, calidad en las pruebas realizadas y seriedad de la información confidencial con profesionalismo en el área de servicios de diagnóstico de la salud a la población guatemalteca, ofreciendo personal capacitado, comprometido en ofrecer la mejor atención y experiencia al paciente.

Fundados en el año 1979 por el Dr. José Roberto Amezquita López, con el correr del tiempo y una visión clara de constante innovación Laboratorio Santa Bertilda llega a ser catalogado como “Centro de diagnóstico clínico y por imágenes Santa Bertilda” diversificando así los servicios que brinda en el diagnóstico de la salud. Hoy más 38años después de su fundación continuamos impulsados por los mismos principios y valores con los que inicio nuestro fundador.

</textarea>
    <br>
    <button type="button" class="btn btn-primary btn-block">Guardar </button>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="form-group">
      <label for="comment">Filosofia:</label>
      <textarea class="form-control" rows="5" id="comment">“El éxito se obtiene por medio de la perseverancia"
Dr. José Roberto Amezquita López
</textarea>
      <br>
      <button type="button" class="btn btn-primary btn-block">Guardar </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="form-group">
    <label for="comment">Mision:</label>
    <textarea class="form-control" rows="5" id="comment">Desarrollar al máximo nuestra capacidad tecnológica para brindar con prontitud y excelencia los análisis de laboratorio y maximizar el pleno desarrollo profesional de nuestro recurso humano para así poder ofrecer a nuestros clientes, bienestar de salud mediante exámenes de total calidad.</textarea>
    <br>
    <button type="button" class="btn btn-primary btn-block">Guardar </button>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="form-group">
      <label for="comment">Vision :</label>
      <textarea class="form-control" rows="5" id="comment">Mantenerse como centro de diagnóstico líder en la realización de exámenes, contando con la necesaria calidad humana y profesional con una tecnología avanzada, generando confianza en los resultados.
</textarea>
      <br>
      <button type="button" class="btn btn-primary btn-block">Guardar </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="form-group">
    <label for="comment">Valores:</label>
    <textarea class="form-control" rows="5" id="comment">Servicio al cliente ofreciendo un resultado confiable
Desarrollo humano y trabajo en equipo.</textarea>
    <br>
    <button type="button" class="btn btn-primary btn-block">Guardar </button>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="form-group">
      <label for="comment">Servicios :</label>
      <textarea class="form-control" rows="5" id="comment">Personal profesional.

Precios económicos.

Instalaciones amplias e higiénicas.

Equipo descartable.

Entrega rápida de resultados.

Tecnología de punta.

Participamos en la evaluación externa de calidad de la asociación de químicos biólogos.
</textarea>
      <br>
      <button type="button" class="btn btn-primary btn-block">Guardar </button>
    </div>
  </div>
</div>
