<app-navbar></app-navbar>
<div class="row margen-arriba animated fadeIn fast">
  <div class="col-md-8">
    <h1 class="display-3 ">Directorio </h1>
  </div>
  <div class="col-md-4">
    <br />
  </div>
</div>
<br>

<hr />

<div class="container">


    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Directorio SB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#gine" role="tab" aria-controls="profile">Ginegología</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile2-tab" data-toggle="tab" href="#pedia" role="tab" aria-controls="dropdown1">Pediatría</a>
      </li>
    </ul>


    <div class="jumbotron animated fadeIn ">
      <div class="tab-content" id="myTabContent">

        <!-- Directorio SB -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">

                <div class="col-md-4">

                  <div class="card p-3">
                    <img class="card-img-top img-doctor" src="../../assets/img/noimage.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Dermatólogo</h4>
                      <ul>
                        <li><p class="card-text">Dirección: 10a. Calle 1-74, una cuadra debajo de Hospital General</p></li>
                        <li><p class="card-text">Teléfonos: 22-32-17-03 y 22-53-29-86</p></li>
                        <li><p class="card-text">Horario: 9:00 a 12:00</p></li>
                        <li><p class="card-text">Zona: 1</p></li>
                      </ul>
                      <footer class="blockquote-footer">

                          Dr. Leonel Linares

                      </footer>
                    </div>
                  </div>

                </div>

                <div class="col-md-4">

                  <div class="card p-3">
                    <img class="card-img-top img-doctor" src="../../assets/img/noimage.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Médico General</h4>
                      <ul>
                        <li><p class="card-text">Dirección: Av. Elena 5ta calle 0-01</p></li>
                        <li><p class="card-text">Teléfonos: 24-37-82-71</p></li>
                        <li><p class="card-text">Horario: 10:00 a 12:00 y 16:00 a 18:00</p></li>
                        <li><p class="card-text">Zona: 1</p></li>
                      </ul>
                      <footer class="blockquote-footer">

                          Dr. William Martinez

                      </footer>
                    </div>
                  </div>

                </div>


                <div class="col-md-4">
                  <div class="card p-3">
                    <img class="card-img-top img-doctor" src="../../assets/img/noimage.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Médico General</h4>
                      <ul>
                        <li><p class="card-text">Dirección: Calz. Roosevelt 35-98 hospital Itzamna</p></li>
                        <li><p class="card-text">Teléfonos: 2434-0247 y 2439-5042</p></li>
                        <li><p class="card-text">Horario: 9:00 a 12:00</p></li>
                        <li><p class="card-text">Zon: 7 </p></li>
                      </ul>
                      <footer class="blockquote-footer">

                          Dr. Eduardo Hernandez Stein

                      </footer>
                    </div>
                  </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                  <div class="card p-3">
                    <img class="card-img-top img-doctor" src="../../assets/img/noimage.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Médico General</h4>
                      <ul>
                        <li><p class="card-text">Dirección: Av. Elena 5ta calle 0-01</p></li>
                        <li><p class="card-text">Teléfonos: 24-37-82-71</p></li>
                        <li><p class="card-text">10:00 a 12:00 y 16:00 a 18:00</p></li>
                      </ul>
                      <footer class="blockquote-footer">

                          Dr. William Martinez

                      </footer>
                    </div>
                  </div>
                </div>

               <div class="col-md-4">

                 <div class="card p-3">
                   <img class="card-img-top img-doctor" src="../../assets/img/noimage.png" alt="Card image cap">
                   <div class="card-body">
                     <h4 class="card-title">Médico General</h4>
                     <ul>
                       <li><p class="card-text">Dirección: Av. Elena 5ta calle 0-01</p></li>
                       <li><p class="card-text">Teléfonos: 24-37-82-71</p></li>
                       <li><p class="card-text">10:00 a 12:00 y 16:00 a 18:00</p></li>
                     </ul>
                     <footer class="blockquote-footer">

                         Dr. William Martinez

                     </footer>
                   </div>
                 </div>

               </div>

          </div>


        </div>
        <!-- Directorio SB -->

        <!-- Ginecologia -->
        <div class="tab-pane fade" id="gine" role="tabpanel" aria-labelledby="profile-tab">

          <div class="row">

            <div class="col-md-4">

              <div class="card p-3">
                <img class="card-img-top img-doctor" src="../../assets/img/noimage.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Dermatólogo</h4>
                  <ul>
                    <li><p class="card-text">Dirección: Calz. Roosevelt 35-41 Plaza comercial Santander</p></li>
                    <li><p class="card-text">Teléfonos: 5608-7719</p></li>
                    <li><p class="card-text">Horario: consultar vía telefónica</p></li>
                    <li><p class="card-text">Zona: 7</p></li>
                  </ul>
                  <footer class="blockquote-footer">

                      Dra. Aura Marina Sánchez de Rodríguez

                  </footer>
                </div>
              </div>

            </div>

            <div class="col-md-4">

              <div class="card p-3">
                <img class="card-img-top img-doctor" src="../../assets/img/noimage.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Médico General</h4>
                  <ul>
                    <li><p class="card-text">Dirección: 18 Avenida 8-01 La Reformita</p></li>
                    <li><p class="card-text">Teléfonos: 2471-4135</p></li>
                    <li><p class="card-text">Zona: 12</p></li>
                  </ul>
                  <footer class="blockquote-footer">

                      Dr. Gonzalo Emilio Estrada Mancilla

                  </footer>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- Ginecologia -->

        <!-- Pediatria -->
        <div class="tab-pane fade" id="pedia" role="tabpanel" aria-labelledby="dropdown1-tab">

            <div class="row">

                <div class="col-md-4">

                  <div class="card p-3">
                    <img class="card-img-top img-doctor" src="../../assets/img/noimage.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Dermatólogo</h4>
                      <ul>
                        <li><p class="card-text">Dirección: 10a. Calle 1-74, una cuadra debajo de Hospital General</p></li>
                        <li><p class="card-text">Teléfonos: 22-32-17-03 y 22-53-29-86</p></li>
                        <li><p class="card-text">Horario: 9:00 a 12:00</p></li>
                        <li><p class="card-text">Zona: 1</p></li>
                      </ul>
                      <footer class="blockquote-footer">

                          Dr. Leonel Linares

                      </footer>
                    </div>
                  </div>

                </div>

                <div class="col-md-4">

                  <div class="card p-3">
                    <img class="card-img-top img-doctor" src="../../assets/img/noimage.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Médico General</h4>
                      <ul>
                        <li><p class="card-text">Dirección: Av. Elena 5ta calle 0-01</p></li>
                        <li><p class="card-text">Teléfonos: 24-37-82-71</p></li>
                        <li><p class="card-text">Horario: 10:00 a 12:00 y 16:00 a 18:00</p></li>
                        <li><p class="card-text">Zona: 1</p></li>
                      </ul>
                      <footer class="blockquote-footer">

                          Dr. William Martinez

                      </footer>
                    </div>
                  </div>

                </div>


                <div class="col-md-4">
                  <div class="card p-3">
                    <img class="card-img-top img-doctor" src="../../assets/img/noimage.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Médico General</h4>
                      <ul>
                        <li><p class="card-text">Dirección: Calz. Roosevelt 35-98 hospital Itzamna</p></li>
                        <li><p class="card-text">Teléfonos: 2434-0247 y 2439-5042</p></li>
                        <li><p class="card-text">Horario: 9:00 a 12:00</p></li>
                        <li><p class="card-text">Zon: 7 </p></li>
                      </ul>
                      <footer class="blockquote-footer">

                          Dr. Eduardo Hernandez Stein

                      </footer>
                    </div>
                  </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                  <div class="card p-3">
                    <img class="card-img-top img-doctor" src="../../assets/img/noimage.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">Médico General</h4>
                      <ul>
                        <li><p class="card-text">Dirección: Av. Elena 5ta calle 0-01</p></li>
                        <li><p class="card-text">Teléfonos: 24-37-82-71</p></li>
                        <li><p class="card-text">10:00 a 12:00 y 16:00 a 18:00</p></li>
                      </ul>
                      <footer class="blockquote-footer">

                          Dr. William Martinez

                      </footer>
                    </div>
                  </div>
                </div>

               <div class="col-md-4">

                 <div class="card p-3">
                   <img class="card-img-top img-doctor" src="../../assets/img/noimage.png" alt="Card image cap">
                   <div class="card-body">
                     <h4 class="card-title">Médico General</h4>
                     <ul>
                       <li><p class="card-text">Dirección: Av. Elena 5ta calle 0-01</p></li>
                       <li><p class="card-text">Teléfonos: 24-37-82-71</p></li>
                       <li><p class="card-text">10:00 a 12:00 y 16:00 a 18:00</p></li>
                     </ul>
                     <footer class="blockquote-footer">

                         Dr. William Martinez

                     </footer>
                   </div>
                 </div>

               </div>

          </div>


        </div>
        <!-- Pediatria -->

      </div>
  </div>
</div>

<app-footer></app-footer>
