<app-navbar></app-navbar>
<h1 class="display-3 margen-arriba animated fadeIn fast">Historia y Filosofía</h1>
<hr />
  <div class="jumbotron animated fadeIn ">
    <div class="row">
      <div class="col-sm-6">
         <h4 class="text-primary">Historia</h4>
        <p class="lead text-justify">Somos el Centro de diagnóstico clínico en Guatemala que durante más de 38 años ha manejado con responsabilidad, confianza, calidad en las pruebas realizadas y seriedad de la información confidencial con profesionalismo en el área de servicios de diagnóstico de la salud a la población guatemalteca, ofreciendo  personal capacitado, comprometido en ofrecer la mejor atención y experiencia al paciente.</p>
        <p class="text-justify">Fundados en el año 1979 por el Dr. José Roberto Amezquita López, con el correr del tiempo y una visión clara de constante innovación Laboratorio Santa Bertilda llega a ser catalogado como “Centro de diagnóstico clínico y por imágenes Santa Bertilda” diversificando así los servicios que brinda en el diagnóstico de la salud. Hoy más 38años después de su fundación continuamos impulsados por los mismos principios y valores con los que inicio nuestro fundador.</p>
        <hr class="my-4">
         <h4 class="text-primary">Filosofía</h4>
        <blockquote class="blockquote text-right">
          <p class="mb-0">“El éxito se obtiene por medio de la perseverancia"</p>
          <footer class="blockquote-footer"><cite title="Source Title">Dr. José Roberto Amezquita López</cite></footer>
        </blockquote>

      </div>
      <div class="col-sm-6">
        <img src="../assets/img/Histora.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </div>


  <hr />

  <div class="container animated fadeIn">

    <div class="row">
      <div class="col-sm-6">
        <div class="card mb-3 ">

          <div class="card-body text-dark">
            <h4 class="card-title">Visión</h4>
            <p class="lead card-text text-justify">Mantenerse como centro de diagnóstico líder en la realización de exámenes, contando con la necesaria calidad humana y profesional con una tecnología avanzada, generando confianza en los resultados.</p>
          </div>
        </div>

        <hr class="my-4">

        <div class="card  mb-3 ">
          <div class="card-body text-dark">
            <h4 class="card-title">Misión</h4>
            <p class="lead card-text text-justify">Desarrollar al máximo nuestra capacidad tecnológica para brindar con prontitud y excelencia los análisis de laboratorio y maximizar el pleno desarrollo profesional de nuestro recurso humano para así poder ofrecer a nuestros clientes, bienestar de salud mediante exámenes de total calidad.</p>
          </div>
        </div>

        <hr class="my-4">

        <div class="card  mb-3">

          <div class="card-body text-dark">
            <h4 class="card-title">Valores</h4>
            <ul class="lead card-text">
              <li>Servicio al cliente ofreciendo un resultado confiable</li>
              <li>Desarrollo humano y trabajo en equipo.</li>
            </ul>
          </div>
        </div>

        <hr class="my-4">

      </div>
      <div class="col-sm-6">
        <div class="card mb-3 ">
          <div class="card-body text-dark">
            <h4 class="card-title">Contamos con:</h4><br>
            <ul class="lead card-text">
              <li>Personal profesional.</li><br>
              <li>Precios económicos.</li><br>
              <li>Instalaciones amplias e higiénicas.</li><br>
              <li>Equipo descartable.</li><br>
              <li>Entrega rápida de resultados.</li><br>
              <li>Tecnología de punta.</li><br>
              <li>Participamos en la evaluación externa de calidad de la asociación de químicos biólogos.</li>
            </ul>
          </div>
        </div>

        <hr class="my-4">

      </div>

    </div>

<app-footer></app-footer>
