
<div class="row margen-arriba animated fadeIn fast">
  <div class="col-md-8">
    <h1 class="display-3 ">Ginecología</h1>
  </div>
  <div class="col-md-4">
    <br />
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</div>


<hr />
<br />
<div class="container">
  <p class="h2" style="color:orange;">Médicos Zona 7 Ciudad de Guatemala</p>
  <br />
  <div class="card border-primary mb-3" style="max-width: 50rem;">
    <div class="card-header"><strong>Dra. Aura Marina Sánchez de Rodríguez </strong></div>
    <div class="card-body text-secondary">
      <h4 class="card-title">Ginecóloga</h4>
      <ul>
        <li><p class="card-text">Dirección: Calz. Roosevelt 35-41 Plaza comercial Santander </p></li>
        <li><p class="card-text">Teléfonos: 5608-7719 </p></li>
        <li><p class="card-text">Horario: consultar vía telefónica </p></li>
      </ul>
    </div>
  </div>
<hr />
</div>

<br />

<div class="container">
  <p class="h2" style="color:orange;">Médicos Zona 12 Ciudad de Guatemala</p>
  <br />
  <div class="card border-primary mb-3" style="max-width: 50rem;">
    <div class="card-header"><strong>Dr. Gonzalo Emilio Estrada Mancilla </strong></div>
    <div class="card-body text-secondary">
      <h4 class="card-title">Ginecólogo</h4>
      <ul>
        <li><p class="card-text">Dirección: Dirección: 18 Avenida 8-01 La Reformita </p></li>
        <li><p class="card-text">Teléfonos: 2471-4135 </p></li>
      </ul>
    </div>
  </div>

</div>
