footer{
  color: white;
  bottom: 0;
   width: 100%;
}

.footer-bottom{
  background: #3d6277;
  padding: 2px;
}

@media screen and (max-width: 600px){

    .mainfooter{
      display: none;
    }

}
