<footer class="mainfooter fixed-bottom" role="contentinfo">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img class="text-xs-center" src="../assets/img/whatsapp.png" alt="First slide" height="20"> 5307-5263
        </div>
        <div class="col-sm-3">
          <img class="text-xs-center" src="../assets/img/telefono.png" alt="First slide" height="20"> PBX: 2204-1212
        </div>
        <div class="col-sm-3">
          <p class="text-xs-center">&copy; Santa Bertilda 2017.</p>
        </div>
        <div class="col-sm-3">
          <img class="text-xs-center" src="../assets/img/facebook.png" alt="First slide" height="20">
          <img class="text-xs-center" src="../assets/img/gorjeo.png" alt="First slide" height="20">
          <img class="text-xs-center" src="../assets/img/google-plus.png" alt="First slide" height="20">
        </div>
      </div>
    </div>
  </div>
</footer>
